<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Vue Chat</h1>
      <!-- <div v-for="(message, i) in messages">
        {{ i }}) {{ message }}
      </div> -->
      <ol>
        <li v-for="message in messages">
          {{ message }}
        </li>
      </ol>
      <label for="newMessage">New Message:</label>
      <select v-model="sender">
        <option disabled value="">Select sender</option>
        <option value="Eran" selected>
          Eran
        </option>
        <option value="Yossi">
          Yossi
        </option>
      </select>
      <input id="newMessage" v-model="newMessage" @keyup.enter="addToList" placeholder="Please enter message..." />
      <button @click="addToList">Add message</button>
      <div v-if="error" v-html="error" style="color:tomato"></div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            messages: [
              "Eran: hey! 😁",
              "Yossi: hey! whats up? 🤷‍♂️",
              "Eran: i'm good ✌"
            ], //TODO: (1) change this to array of objects {sender:,message:}
            newMessage: "",
            sender: "",
            error: ""
          };
        },
        methods: {
          addToList(e) { //TODO: (3) change this 
            this.error = "";
            if (!this.sender) this.error = "need to choose sender";
            else if (!this.newMessage) this.error = "need to write a non empty message";
            else this.messages.push(`${this.sender}: ${this.newMessage}`);
          }
        }
      });
    </script>
  </body>
</html>
