<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-for="(message, i) in messages">
        {{ i }}) {{ message }}
      </div>
      <ol>
        <li v-for="message in messages">
          {{ message }}
        </li>
      </ol>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            messages: [
              "eran: hey! 😁",
              "yossi: hey! whats up? 🤷‍♂️",
              "i'm good ✌"
            ]
          };
        },
        created() {
          // alert("created")
        }
      });
    </script>
  </body>
</html>
